#about {
  .section-header {
    text-align: left;
  }
  figure {
    display: grid;
    grid-template-columns: 15% 80%;
    justify-items: center;
    align-items: center;
    gap: 8px;
    margin: 0 0 2rem;
    @include col-sm {
      gap: 16px;
      grid-template-columns: 20% 80%;
    }
    @include col-md {
      grid-template-columns: 15% 80%;
      gap: 16px;
    }
    .fig-icon {
      @include set-bg($primary);
      height: 3.5rem;
      width: 3.5rem;
      @include col-sm {
        height: 5.5rem;
        width: 5.5rem;
      }
      @include col-lg {
        height: 4rem;
        width: 4rem;
      }
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      & > .fa {
        font-size: 1.5rem;
        @include col-md {
          font-size: 2rem;
        }
      }
    }
  }
}

.about-form {
  margin: 0 auto;
  display: flex;
  flex: 7;
  height: 350px;
  width: 350px;
  @include col-sm {
    height: 500px;
    width: 500px;
  }
  @include col-md {
    height: 650px;
    width: 650px;
  }
  @include col-lg {
    height: 450px;
    width: 450px;
  }
  @include col-xl {
    height: 500px;
    width: 500px;
  }
}
.form-tab {
  @include set-bg($dark);
  border-radius: 50%;
  height: 100%;
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 0 4rem;
  &-option {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    @include col-sm {
      top: 20%;
    }
    .fs-h2 {
      font-size: 1.3rem;
      text-decoration: none;
      text-align: center;
      padding: 0.6rem;
      display: block;
      color: #fff;
    }
  }
  &-panel {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 0 4rem;
    @include col-sm {
      top: 35%;
    }
  }
  &-panel > div {
    display: none;
    .input-form {
      margin-bottom: 1.2rem;
      text-align: center;
      input {
        padding: 0.6rem 0.8rem;
        outline: none;
        border-top: none;
        border-right: none;
        border-left: none;
        color: lighten($dark, 30%);
        border-bottom: 1px solid lighten($dark, 30%);
        background-color: transparent;
        width: 100%;
      }
      .btn-white {
        padding: 0.5rem 3rem 0.6rem;
        border-radius: 5rem;
        font-size: 1.1rem;
        line-height: 2;
        border: 1px solid #fff;
        transition: 0.4s;
        background-color: #fff;
        color: $dark;
        @include col-sm {
          padding: 0.5rem 2rem 0.6rem;
        }
        &:hover {
          @include set-bg($secondary);
          border: none;
        }
      }
    }
  }
}
