#courses {
  .owl-nav button {
    background: darken($light, 10);
    text-align: center;
    width: 44px;
    line-height: 1.5;
    padding: 0.1rem 0rem 0.4rem !important;
    font-size: 1.3rem;
    color: #fff;
    &:hover {
      background: darken($light, 20);
    }
  }
  .owl-dots {
    display: none;
  }
  .card {
    margin: 0 0 1rem;
    @include col-lg{
      margin: 0 1rem 1rem;
    }
    @include set-bg($light);
    &-header {
      position: relative;
      padding: 0;
      &-overlay {
        background: linear-gradient(to top, rgba($dark, 0.4), rgba($dark, 0));
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        .nav {
          padding: 1.5rem 0;
          color: #fff;
          justify-content: space-between;
        }
      }
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $light;
      &-img {
        display: flex;
        align-items: center;
        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
        div {
          margin-left: 1rem;
        }
      }
      .price-tag {
        @include set-bg($primary);
        border: none;
        outline: none;
        &:hover {
          background-color: darken($primary, 5);
        }
      }
      .price-free {
        @include set-bg($secondary);
        border: none;
        outline: none;
        &:hover {
          background-color: darken($secondary, 5);
        }
      }
    }
  }
}
