div#home {
  margin-top: 3.9rem;
  .owl-nav {
    display: none;
  }
  .owl-dots {
    @extend .owl-nav;
  }
}
.slide-image {
  min-height: 100vh;
  width: 100%;
  position: relative;
  &-caption {
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    .home-header {
      margin: 0 0 1.5rem;
      text-transform: capitalize;
    }
    p {
      color: #fff;
    }
    .btn-custom {
      margin: 3rem 0 0;
      padding: 0.6rem 1.5rem;
      border-radius: 2rem;
      font-size: 1.1rem;
      background-color: transparent;
      border: 1px solid #fff;
      transition: 0.4s;
      @include col-sm {
        margin: 2rem 0 0;
        padding: 0.5rem 3rem;
        line-height: 2;
        border-radius: 5rem;
      }
      &:hover {
        background-color: #fff;
        color: $dark;
        border: 1px solid #fff;
      }
    }
  }
}
.slide-image-1 {
  background-color: $dark;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url(../../image/slider-image1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.slide-image-2 {
  @extend .slide-image-1;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url(../../image/slider-image2.jpg);
}
.slide-image-3 {
  @extend .slide-image-1;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    url(../../image/slider-image3.jpg);
}

.home-info {
  .card {
    border: 1px solid darken($light, 5);
    @include col-md {
      min-height: 100%;
    }
    @include col-xl {
      min-height: 90%;
    }
    &-body {
      padding: 4rem 2rem;
      @include col-md {
        padding: 2rem 2rem;
      }
    }
  }
  &-header {
    margin-bottom: 1rem;
    display: inline-block;
    @include set-bg($secondary);
    height: 4rem;
    border-radius: 50%;
    width: 4rem;
    text-align: center;
    line-height: 2.2;
  }
}
