.navbar {
  border-top: 5px solid $primary;
  &.bg-light {
    background-color: #fff !important;
    box-shadow: 1px 1px 2px rgba(233, 230, 230, 0.4);
  }
  @include col-md {
    padding: 0 0 !important;
  }
  &-brand {
    color: $dark;
    font-weight: 700;
  }
  &-header {
    @include mdPlus {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  #{&}-toggler {
    border: none;
    color: transparent;
    &:focus {
      outline: none;
    }
  }
  &-collapse {
    @include col-md {
      align-items: stretch !important;
    }
    @include mdPlus {
      position: absolute;
      width: 100%;
      top: 85%;
      left: 0;
      transition: 0.5s !important;
      background-color: #fff;
    }
  }
  &-light &-nav {
    .nav-link {
      color: $dark !important;
      font-size: 0.9rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mdPlus {
        text-align: center;
      }
      &:hover {
        @include set-bg($primary);
        color: #fff !important;
      }
    }
  }
}

.nav-custom {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
  @include col-md {
    align-items: stretch;
    li:hover {
      background-color: $primary;
      display: flex;
      align-items: center;
      a {
        color: #fff;
      }
    }
  }
  .nav-link-icon {
    color: $dark;
    text-decoration: none;
    display: flex;
    width: 105%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0.4rem auto;
    padding: 0.8rem 1.2rem;

    &:hover {
      background-color: $primary;
      color: #fff;
    }
  }
  .navbar-nav-icon {
    background-color: $primary;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 50%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
  }
}
