section#teachers {
  @include set-bg($light);
  .section-header {
    margin: 0 0 -0.5rem;
  }
  @include col-md {
    .card {
      min-height: 100%;
    }
  }
  .card-body {
    padding: 1.5rem;
    @include col-md {
      padding: 1rem;
    }
    @include set-bg(#fff);
    .dark-text {
      color: $dark;
      margin: 0px;
    }
  }
  .card-footer {
    padding: 1.5rem;
    @include col-md {
      padding: 1rem;
    }
    @include set-bg(#fff);
    border-top: 1px dotted #909090;
    a {
      font-size: 1.3rem;
      color: $dark;
      margin-right: 1rem;
      @include col-md {
        margin-right: 0.5rem;
      }
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
