/dist/fonts
/dist/css/main.css
/dist/js/jquery.js
/bootstrap-4.1.3-dist
/scss/_home.scss
/scss/_about.scss
/scss/_contact.scss
/scss/_course.scss
/scss/_navbar.scss
/scss/_teacher.scss
/scss/_review.scss